 *{
     margin:0;
 }
 
 body{
    margin:0px 50px;
    
 }
header{
    
    height:150px;
    background:url(header.jpg) no-repeat center;
    background-size:cover;
    border-radius:50px;
}

.title{
    text-align:center;
    padding-top:100px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    
}
.title span{
    color:red;
}

.main{
    background:url(header.jpg) no-repeat center;
    background-size:cover;
    border-radius:50px;
    
}

.text1{
    margin-top:20px;
    text-align:center;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.aimg{
    height:400px;
    width:400px;
    margin-left:130px;
    margin-top:70px;
    border-radius: 50%;
    object-fit:cover;
}

.text2{
    text-align:center;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top:50px;
    
}

.btn{
    border:none;
    background-color: white;
    margin-top:30px;
    margin-left:550px;
    border-radius: 15px;
    margin-bottom:20px;
    
}

.btn a{
    text-decoration:none;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:orange;
}

.btn:hover{
    background-color:rgb(119, 110, 110);
}

#btn2{
    margin-left:500px;
}


footer{
    margin-top:30px;
    background-color: black;
    border-radius: 15px;
}
footer p{
    text-align:center;
    color:white;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

footer a{
    color:white;
    text-decoration:none;
}