



.main{
    
    width:100%;
    background: url('1.jpg') no-repeat center;
    background-size: cover;
    
}
#text1{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background:white;
    margin:0;
    opacity: 0.7;
}


#aimg{
    height:800px;
    width: 100%;
    object-fit: cover;
}

.home{
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.home a{
    text-decoration:none;
    color:black;
    
}

footer{
    margin-top:0px;
    background-color: black;
    border-radius: 15px;
}
footer p{
    margin-top:0px;
    text-align:center;
    color:white;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:0;
}

footer a{
    color:white;
    text-decoration:none;
    
}

.home a:hover{
    background:black;
    color:white;
}

.home{
    margin-top:10px;
    margin-bottom:10px;
}
